In [1]:
import pandas as pd

In [2]:
result = pd.read_csv('./total_padded_encoded_df.csv')
data = pd.DataFrame(result)
data.head()

,Unnamed: 0,genre,1,2,3,4,5,6,7,8,...,843,844,845,846,847,848,849,850,851,852
0,0,1,0,2,3,0,0,4,0,5,...,1,1,1,1,1,1,1,1,1,1
1,1,1,31,41,42,43,44,45,0,46,...,1,1,1,1,1,1,1,1,1,1
2,2,1,138,139,140,0,0,0,141,0,...,1,1,1,1,1,1,1,1,1,1
3,3,1,117,0,203,0,204,205,206,0,...,1,1,1,1,1,1,1,1,1,1
4,4,1,284,0,285,286,287,0,288,288,...,1,1,1,1,1,1,1,1,1,1

# feature, label 분리

In [3]:
feature_df = data.iloc[:, 2:]
label_df = data[['genre']]
print(feature_df.shape, label_df.shape)

(772, 852) (772, 1)

In [4]:
feature_df.head()

,1,2,3,4,5,6,7,8,9,10,...,843,844,845,846,847,848,849,850,851,852
0,0,2,3,0,0,4,0,5,6,7,...,1,1,1,1,1,1,1,1,1,1
1,31,41,42,43,44,45,0,46,0,47,...,1,1,1,1,1,1,1,1,1,1
2,138,139,140,0,0,0,141,0,143,0,...,1,1,1,1,1,1,1,1,1,1
3,117,0,203,0,204,205,206,0,118,207,...,1,1,1,1,1,1,1,1,1,1
4,284,0,285,286,287,0,288,288,289,290,...,1,1,1,1,1,1,1,1,1,1

In [5]:
label_df.head()

   genre
0      1
1      1
2      1
3      1
4      1

# train, test    DataLoader 생성 및 텐서 변환

In [6]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(feature_df, label_df, stratify=label_df, test_size=0.2, random_state=42)

In [7]:
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis = 1)
train_data.head()

,1,2,3,4,5,6,7,8,9,10,...,844,845,846,847,848,849,850,851,852,genre
530,3016,3530,11254,805,0,2592,0,253,0,0,...,1,1,1,1,1,1,1,1,1,6
563,0,0,0,0,0,1831,0,7634,0,1831,...,1,1,1,1,1,1,1,1,1,7
443,1090,0,294,0,10208,0,0,3996,2715,123,...,1,1,1,1,1,1,1,1,1,5
442,0,0,0,10188,0,50,0,0,89,0,...,1,1,1,1,1,1,1,1,1,5
355,3648,3849,9287,9288,0,0,9289,9290,728,0,...,1,1,1,1,1,1,1,1,1,4

In [8]:
train_data.shape

(617, 853)

In [9]:
test_data.head()

,1,2,3,4,5,6,7,8,9,10,...,844,845,846,847,848,849,850,851,852,genre
171,0,2291,0,149,0,0,0,7167,0,0,...,1,1,1,1,1,1,1,1,1,3
155,4279,6894,1351,4279,4279,6894,1351,4279,0,0,...,1,1,1,1,1,1,1,1,1,2
656,0,0,5262,0,0,9264,0,12671,12672,0,...,1,1,1,1,1,1,1,1,1,7
146,0,0,0,6748,0,0,0,6749,0,6750,...,1,1,1,1,1,1,1,1,1,2
63,519,4235,4236,4237,4238,0,4239,0,1547,4240,...,1,1,1,1,1,1,1,1,1,1

- 텐서 변환

In [10]:
import torch
import numpy as np
type(train_data.values)

numpy.ndarray

In [11]:
train_data = torch.LongTensor(train_data.values)
train_data

tensor([[ 3016,  3530, 11254,  ...,     1,     1,     6],
        [    0,     0,     0,  ...,     1,     1,     7],
        [ 1090,     0,   294,  ...,     1,     1,     5],
        ...,
        [ 7199,   162,     0,  ...,     1,     1,     4],
        [    0,  1565,  7569,  ...,     1,     1,     3],
        [    0,     0,   118,  ...,     1,     1,     5]])

In [12]:
test_data = torch.LongTensor(test_data.values)
test_data

tensor([[    0,  2291,     0,  ...,     1,     1,     3],
        [ 4279,  6894,  1351,  ...,     1,     1,     2],
        [    0,     0,  5262,  ...,     1,     1,     7],
        ...,
        [    0,     0, 12729,  ...,     1,     1,     7],
        [    0,  1616,     0,  ...,     1,     1,     5],
        [ 5293,   115,     0,  ...,     1,     1,     8]])

In [13]:
from torch.utils.data import DataLoader

BATCH = 20

train_loader = DataLoader(train_data, batch_size = BATCH, shuffle = True)
test_loader = DataLoader(test_data, batch_size = BATCH, shuffle = True)

# 모델 설계

In [14]:
import torch.nn as nn
class music_rnn(nn.Module):
    def __init__(self, VOCAB_SIZE, EMBED_DIM, HIDDEN_SIZE, NUM_CLASS):
        super().__init__()
        self.embedding = nn.Embedding(num_embeddings=VOCAB_SIZE, embedding_dim=EMBED_DIM)
        self.rnn = nn.RNN(input_size=EMBED_DIM, hidden_size=HIDDEN_SIZE)
        # 학습 모델을 RNN 대신에 LSTM을 사용해볼수도 있겠다
        # RNN에서 양방향 학습 파라미터를 설정해볼 수 도 있겠다.
        
        # 활성화함수 => 다중 분류니까
        # self.fc = nn.Softmax(HIDDEN_SIZE, NUM_CLASS) # 이렇게 쓰는게아닌가?
        self.fc = nn.Linear(HIDDEN_SIZE, NUM_CLASS) # 다중 분류인데 이게 되나?
        self.init_weights() # 이건 왜 쓴거지?
        self.dropout = nn.Dropout()  # 혹시 모를 과대적합을 위해서
        
    # 가중치 초기화
    def init_weights(self):
        range = 0.5
        self.embedding.weight.data.uniform_(-range, range)
        self.fc.weight.data.uniform_(-range, range)
        self.fc.bias.data.zero_()
        
    # 순방향 학습 진행
    def forward(self, text):
        embed = self.embedding(text)
        output, hidden = self.rnn(embed)
        # result = self.fc(output)
        result = F.softmax(self.fc(output), dim=2)
        return result

In [15]:
# 학습용 변수들 지정
from torch import optim
import torch
import torch.nn as nn
import torch.nn.functional as F
VOCAB_SIZE = 13714
EMBED_DIM = 50
HIDDEN_SIZE = 10 
NUM_CLASS = 8
model = music_rnn(VOCAB_SIZE, EMBED_DIM, HIDDEN_SIZE, NUM_CLASS)

device = 'cuda' if torch.cuda.is_available() else 'cpu'
loss_fn = nn.CrossEntropyLoss().to(device)
optimizer = optim.Adam(params = model.parameters())
scheduler = optim.lr_scheduler.ReduceLROnPlateau(optimizer)

# 함수 지정 (train, test)

In [16]:
import torchmetrics.functional.classification as metrics
def training(DATALOADER):
    model.train()
    output_list = [[], [], [], [], []]
    # loss, acc, precision, recall, f1_score
    for data in DATALOADER:
        feature = data[0]
        label = data[1]
        
        train_feature = feature.to(device)
        train_label = label.to(device)
        print(train_feature.shape, train_label.shape)
        
        pred = model(train_feature)
        
        # 손실 검정
        loss = loss_fn(pred, train_label) 
        output_list[0].append(loss.item())
        output_list[1].append(metrics.accuracy(pred, train_label, task = 'multiclass').item())
        output_list[2].append(metrics.precision(pred, train_label, task = 'multiclass').item())
        output_list[3].append(metrics.recall(pred, train_label, task = 'multiclass').item())
        output_list[4].append(metrics.f1_score(pred, train_label, task = 'multiclass').item())
        
        # 업데이트
        optimizer.zero_grad()
        loss.backward()
        optimizer.step()
    
    return output_list
training(train_loader)

torch.Size([853]) torch.Size([853])

IndexError: Dimension out of range (expected to be in range of [-2, 1], but got 2)